{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.{yml,yaml}",
      "options": {
        "singleQuote": false,
        "printWidth": 120,
        "proseWrap": "preserve"
      }
    }
  ]
} 